html {
    background-color: beige;
}
tr:hover {
    background-color: #77DD77;
  }
tr {
    text-align: center;
}
div {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 75%
}
h1 {
    font-size: 30px;
    position: absolute;
    left: 650px
}