body {
    background: rgb(252, 237, 251);
}

.text-right {
    text-align: right;
    object-fit: contain;
    max-height: 120px;
}

h3 {
     margin-top: 10px;
     margin-bottom: 360px;
}

p {
    margin: 0 0 10px;
    text-align: left;
    position: relative;
    top: -155px;
}

div.delivery {
    position: relative;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.btn-default {
    margin-top: 5px;
    margin-left: 11px;
}

input[type=button].btn-block {
    padding: 8px;
    margin: 5px;
    font-size: large;
    width: 17%;
    float: right;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
.footer {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.center {
    text-align: center;
}
.container {
    padding: 15px;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
    background-color: rgb(255, 255, 240);
}

.ui-w-40 {
    width: 40px;
    height: auto;
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    vertical-align: middle;
}

/* CREDIT: w3schools responsive navigation bar how to: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: center;
    overflow: hidden;
}
/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
}
/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: contents;
    align-items: center;
}
/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    display: block;
    text-align: center;
}
/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background: rgb(252, 237, 251);
    color: black;
  }